<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">My account: <strong>{{getMyAccountUser().email}}</strong></h3>
        </div>
        <div class="panel-body">
            <h4 id="panel-title" class="panel-title" ng-show="accountInfo.account">Account: <strong>{{accountInfo.account}}</strong></h4>
            <h4 ng-show="accountInfo.balance">Current balance: <strong>{{accountInfo.balance}}</strong> €</h4>

            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning" ng-hide="accountInfo.account" role="alert">Please wait, you do not have an wallet yet.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button ng-show="accountInfo.account" type="button" class="btn btn-default btn-lg btn-success"
                            aria-label="Left Align"
                            ng-click="transferMoney()">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        Transfer money
                    </button>
                <span ng-show="accountInfo.account">
                    Amount to transfer <input ng-model="amountToTransfer"></input>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info" ng-show="accountInfo.transactions">
        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">Transactions</strong></h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning" ng-hide="accountInfo.transactions" role="alert">No transactions yet</div>

            <table class="table" ng-show="accountInfo.transactions">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in accountInfo.transactions">
                    <td>{{transaction.source}}</td>
                    <td>{{transaction.destination}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.fee}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">Network status</strong></h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning" ng-hide="serverInfo.server_name" role="alert">Not connected to server yet</div>
            <h4 ng-show="serverInfo.server_name">Connected to server: <strong>{{serverInfo.server_name}}</strong></h4>
            <h4 ng-show="serverInfo.ledgerClosed">Last ledger closed: <strong>{{serverInfo.ledgerClosed}}</strong></h4>
            <h4>{{serverInfo.error}}</h4>
        </div>
    </div>
    <div class="panel panel-info" ng-show="serverInfo.server_name">
        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">Peers</strong></h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning" ng-hide="peersInfo.peers" role="alert">Not connected to peers</div>
            <table class="table" ng-show="peersInfo.peers">
                <thead>
                <tr>
                    <th>IP</th>
                    <th>Ledger</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="peer in peersInfo.peers">
                    <td>{{peer.address}}</td>
                    <td>{{peer.ledger}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
