<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.bank.$valid && submitted,
                                            'has-error': form.bank.$invalid && submitted }">
          <label>Bank</label>

          <!--<input type="text" name="name" class="form-control" ng-model="user.bank"
                 required/>-->
          <select name="bank" class="form-control" ng-model="user.bank" ng-options="bank.info for bank in availableBanks">
          </select>

          <p class="help-block" ng-show="form.bank.$error.required && submitted">
            A bank is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.iban.$valid && submitted,
                                            'has-error': form.iban.$invalid && submitted }">
          <label>IBAN</label>
          <input type="text" name="iban" class="form-control" ng-model="user.iban"
                 required ng-iban/>
          <p class="help-block" ng-show="form.iban.$error.required && submitted">
            An IBAN is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Login
          </a>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
        </div>

          <ul ng-show="submitted">
              <li ng-repeat="(key, errors) in form.$error track by $index"> <strong>{{ key }}</strong> errors
                  <ul>
                      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                  </ul>
              </li>
          </ul>

      </form>
    </div>
  </div>
  <hr>
</div>
