<div class="ng-scope">
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<span class="label-info navbar-brand">Awesome shop</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<span>
					<a class="btn btn-lg" ng-click="checkout(2, 'alice@alpha.com')">Buy 2€ item from alice@alpha.com</a>
				</span>
			</div>
			<div class="row">
				<span>
					<a class="btn btn-lg" ng-click="checkout(3, 'bob@brd.com')">Buy 3€ item from bob@brd.com</a>
				</span>
			</div>
		</div>
	</div>
</div>